.wrapper {
  width: min(100% - 32px, 1024px);
  margin-inline: auto;
  background-color: #fafafa;
  padding: 40px;
  height: 100vh;

  .cards-wrapper {
    .card {
      display: flex;
      align-items: center;
      gap: 10px;
      max-width: 200px;
      background-color: #000;
      padding: 10px;
      margin: 20px;
      color: #fff;
      border-radius: 5px;

      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50px;
        object-fit: cover;
      }

      .name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
        color: #fff;
      }

      .address {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
      }
    }
  }
}
