.async-await-wrapper {
  height: 100vh;

  .async-await {
    width: min(100% - 32px, 1024px);
    margin-inline: auto;
    padding: 50px;
    height: 100vh;
  }

  .loader-wrapper {
    display: grid;
    place-items: center;
    height: 100%;
  }

  .error-wrapper {
    display: grid;
    place-items: center;
    height: 100%;

    .error {
      height: 300px;
      width: 100%;
    }
  }

  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

    .card {
      background: #fff;
      color: #000;
      box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
      border-radius: 10px;
      padding: 20px;
      display: grid;
      place-items: center;
      max-width: 300px;
      min-height: 200px;
      height: 100%;

      .avatar {
        margin-bottom: 20px;
      }

      .name {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;

        .email {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}
